* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Start Global Style */
.container {
    width: 80%;
    margin: auto;
}
a {
    text-decoration: none;
}
.centerText {
    text-align: center;
    padding: 30px 0;
}
.centerText h1 {
    font-weight: 100;
    font-size: 43px;
    margin-bottom: 0;
    color: #666;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 767px) {
    .centerText h1 {
        font-size: 30px;
    }
}
.centerText p {
    color: #666;
    line-height: 1.5;
}
@media (max-width: 767px) {
    .centerText p {
        font-size: 12px;
    }
}
.clear {
    clear: both;
}
/* End Global Style */

/* Start Header */
header {
    background-color: #212934;
    color: #eee;
    height: 50px;
    line-height: 50px;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 767px) {
    header .left {
        display: none;
    }
}
@media (max-width: 767px) {
    header .right {
        margin: auto;
    }
}
header .left i:not(:first-child) {
    margin-left: 15px;
}
header .left span:not(:first-child) {
    margin-left: 10px;
}
header .right i:not(:last-child) {
    margin-right: 10px;
}
/* End Header */

/* Start Navbar */
nav {
    box-shadow: 1px 3px 5px #eee;
}
nav .container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo {
    font-size: 2.2rem;
    font-weight: 700;
    color: rgb(0, 255, 98);
}
nav ul {
    list-style-type: none;
}
@media (max-width: 991px) {
    nav ul {
        display: none;
    }
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-transform: capitalize;
    display: inline;
    margin: 0 40px;
    color: #666;
}
nav ul li a:hover {
    color: #000;
}
nav .icons i:not(:first-child) {
    margin-left: 20px;
}
nav .bar {
    display: none;
}
@media (max-width: 991px) {
    nav .bar {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    nav .bar:hover {
        color: rgba(0, 255, 98, 0.781);
    }
}
nav .icons {
    position: relative;
}
nav .icons i {
    font-size: 20px;
    cursor: pointer;
}
nav .icons i:nth-child(2)::after {
    content: "7";
    font-size: 8px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 30px;
    top: -10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #eee;
}
nav .icons i:nth-child(3)::after {
    content: "+99";
    font-size: 8px;
    line-height: 15px;
    text-align: center;
    width: 35px;
    height: 15px;
    position: absolute;
    right: -25px;
    top: -8px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: #eee;
}
/* End Navbar */

/* Start Home Page */
.home {
    height: calc(100vh - 80px - 50px);
    background-color: #eee;
}
.home .container {
    padding-top: 20px;
    height: 100%;
    position: relative;
}
.home .content {
    width: 45%;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
@media (max-width: 991px) {
    .home .content {
        width: 100%;
        text-align: center;
    }
}
.home .content h4 {
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
    color: #666;
}
@media (max-width: 767px) {
    .home .content h4 {
        font-size: 2rem;
    }
}
.home .content h2 {
    margin: 12px 0;
    font-weight: 400;
}
@media (max-width: 767px) {
    .home .content h2 {
        font-size: 1.5rem;
    }
}
.home .content p {
    color: #666;
    line-height: 1.5;
    margin: 0;
}
.home .img {
    width: 35%;
    display: inline-block;
    position: absolute;
    right: 0;
}
.home .img img {
    width: 100%;
}
@media (max-width: 991px) {
    .home .img {
        display: none;
    }
}
/* End Home Page */

/* Start Categories */
.categories .container {
    padding: 20px 0;
    text-align: center;
}
.categories .box {
    float: right;
    width: calc(100% / 3);
    margin: auto;
}
@media (max-width: 991px) {
    .categories .box {
        width: calc(100% / 2);
        text-align: center;
    }
    .categories .box:nth-child(3) {
        width: 100%;
        margin-top: 50px;
    }
}
@media (max-width: 767px) {
    .categories .box {
        width: calc(100% / 1);
        margin: 50px 0;
    }
}
.categories .box img {
    width: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.categories .box button {
    border: none;
    background-color: rgba(0, 255, 76, 0.74);
    color: #fff;
    padding: 7px 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.2s linear;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    cursor: pointer;
}
.categories .box button:hover {
    background-color: rgb(0, 255, 76);
}
/* End Categories */

/* Start Featured */
.featured {
    background-color: rgb(241, 241, 255);
    display: inline-block;
    padding: 0 0 70px 0;
    margin-top: 50px;
}
.featured .col {
    float: right;
    background-color: #fff;
    width: calc((100% / 3) - 20px);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
}
@media (max-width: 991px) {
    .featured .col {
        width: calc((100% / 2) - 10px);
    }
    .featured .col:nth-child(2) {
        width: 100%;
        margin-bottom: 10px;
    }
}
@media (max-width: 767px) {
    .featured .col:nth-child(2) {
        margin-bottom: 0px;
    }
}
@media (max-width: 767px) {
    .featured .col {
        width: calc((100% / 1));
    }
}
.featured .col .layer {
    padding: 10px 15px 25px;
}
.featured .col .layer .stars {
    display: inline;
    margin-right: 40%;
    color: yellow;
}
.featured .col .layer .stars .gray {
    color: #888;
}
.featured .col .layer span {
    color: #888;
}
.featured .col .layer h3 {
    font-weight: 300;
    margin-bottom: 0;
}
.featured .col .layer p {
    margin: 5px 0 20px;
    line-height: 1.5;
}
.featured .col .layer a {
    color: #999;
    cursor: pointer;
}
.featured .col:nth-child(3) {
    margin: 0 20px;
}
@media (max-width: 991px) {
    .featured .col:nth-child(3) {
        margin: 0 10px;
    }
}
@media (max-width: 767px) {
    .featured .col:nth-child(3) {
        margin: 10px 0;
    }
}
.featured .col img {
    width: 100%;
}
/* End Featured */

/* Start Footer */
.footer {
    background-color: #212934;
    height: 100%;
    width: 100%;
    display: inline-block;
    color: #fff;
}
.footer .box {
    float: left;
    width: calc((100% / 3) - 20px);
    padding: 20px 0;
    color: #999;
}
@media (max-width: 991px) {
    .footer .box {
        width: calc((100% / 2) - 20px);
    }
}
@media (max-width: 767px) {
    .footer .box {
        width: calc((100% / 1) - 20px);
    }
}
.footer .box:nth-child(2) {
    margin: 0 30px;
}
@media (max-width: 991px) {
    .footer .box:nth-child(2) {
        margin: 0 20px;
    }
}
@media (max-width: 767px) {
    @media (max-width: 991px) {
        .footer .box:nth-child(2) {
            margin: 20px 0;
        }
    }
}
.footer .box .logo {
    color: rgb(28, 226, 88);
    font-size: 20px;
}
.footer .box .icons {
    margin-top: 20px;
}
.footer .box .icons div {
    margin: 15px 0;
}
.footer .box .icons div i {
    margin-right: 10px;
}
.footer .box h3 {
    margin: 0;
    font-weight: 100;
    border-bottom: 1px solid rgb(80, 78, 78);
    padding-bottom: 15px;
}
.footer .other {
    border-top: 1px solid rgb(80, 78, 78);
    padding: 30px 0;
}
.footer .other .socilMedia {
    float: left;
    width: calc(100% / 2);
}
@media screen {
}
.footer .other .socilMedia i {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgb(80, 78, 78);
    color: #eee;
    text-align: center;
    line-height: 35px;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    cursor: pointer;
}
.footer .other .socilMedia i:not(:first-child) {
    margin-left: 20px;
}
.footer .other .socilMedia i:hover {
    background: #fff;
    color: #00f;
    border: none;
}
@media (max-width: 800px) {
    .footer .other .socilMedia {
        display: none;
    }
}
.footer .other .inputs {
    text-align: end;
}
@media (max-width: 767px) {
    .footer .other .inputs {
        text-align: left;
    }
}
.footer .other .inputs input {
    border: none;
}
.footer .other .inputs input[type="email"] {
    background-color: transparent;
    border: 1px solid rgb(80, 78, 78);
    margin: 0;
    outline: none;
    margin-right: -4px;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.footer .other .inputs input[type="submit"] {
    background-color: rgb(23, 180, 70);
    border: 1px solid rgb(23, 180, 70);
    margin: 0;
    outline: none;
    padding: 5px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    cursor: pointer;
}
@media (max-width: 800px) {
    .footer .other .inputs input[type="email"] {
        width: 74%;
    }
    .footer .other .inputs input[type="submit"] {
        width: 25%;
    }
}
/* Start Footer */

/* Start CopyRight */
.copyRight {
    background-color: #161b22;
    padding: 10px 0;
}
.copyRight p {
    margin: 0;
    color: #999;
}
@media (max-width: 767px) {
    .copyRight p {
        font-size: 12px;
    }
}
.copyRight p span {
    text-decoration: underline;
    cursor: pointer;
}
/* End CopyRight */
